{% extends "blog/base.html" %}

    {% block content %}
    <h1>{{ post.title }}</h1>
    {% if post.published_date %}
        <div>
            {{ post.published_date }}
        </div>
    {% else %}
        <a class="btn btn-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}

    <p>{{ post.text|safe|linebreaksbr }}</p>

    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>

        <a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    {% endif %}

    <hr>

    <a class="btn btn-primary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>

    <div class="container">
        {% for comment in post.comments.all %}
            <br>
            {% if user.is_authenticated or comment.approved_comment %}

                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                    <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}

                <p>{{ comment.text|safe|linebreaks }}</p>
                <p>Posted by: <strong>{{ comment.author }}</strong></p>

            {% endif %}
            {% empty %}
            <p>No comments posted.</p>
        {% endfor %}
    </div>
{% endblock %}