{% extends "blog/base.html" %}

{% block content %}
<h1>New post</h1>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}