{% extends "blog/base.html" %}

{% block content %}
    {% for post in post_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                <p> Published on : {{post.published_date|date:"D M Y"}}</p>
            </div>

            <div class="panel-body"><p>{{ post.text|safe|truncatechars:100 }}</p></div>
            <div class="panel-footer"><a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a></div>
        </div>
    {% endfor %}
{% endblock %}



