{% extends "blog/base.html" %}

{% block content %}
    {% for post in post_list %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                <p>created: {{ post.created_date|date:'d-m-Y' }}</p>
            </div>

            <div class="panel-body"><p>{{ post.text|safe|truncatechars:100 }}</p></div>
        </div>
    {% empty %}
        <h1>No Drafts found!</h1>
    {% endfor %}
{% endblock %}