.techfont{
    font-family: 'Montserrat';
    font-size: 1em;
    margin-botton: 10px;
}

.bigbrand{
    font-family: 'Russo One';
    font-size:1.5em;
}


.centerstage{
    text-align: center;
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
}

